{% extends 'base.html' %}
{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">ABOUT US</h1>
                <p class="lead fw-normal text-white-50 mb-0">About Us Page</p>
            </div>
        </div>
    </header>
    <body>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br><br>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aliquid assumenda beatae consectetur cupiditate deserunt dolores ea, eos est et eum fugit, illum libero maiores mollitia nobis numquam quam quis ratione recusandae similique suscipit tempore. Adipisci aliquid aut cum dolor doloremque, dolorum ea et ipsam, iusto labore laboriosam magni minima minus natus nesciunt praesentium quae quas quibusdam quod repudiandae saepe sequi temporibus, tenetur ut vel vero voluptas voluptatibus? A accusantium aliquam amet aut beatae culpa deleniti dolore dolorem doloribus fugiat id illo ipsa modi nam perferendis perspiciatis, quas quia quisquam, repudiandae sint soluta sunt suscipit tempora, vel voluptatem? Sequi.
                    </p>
                </div>
                <br><br>
            </center>
        </div>
    </div>
    </body>
{% endblock %}